body {
    background-color: white;
}

h2 {
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: 31px;
    text-align: center;
    font-family: Georgia;
    font-weight: lighter;
    color: #0D52A1;
}

.video-container {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.base-image {
    display: block;
    z-index: 2;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 130%;
    height: auto;
}

.camera {
    position: absolute;
    top: 19%;
    left: 38%;
    width: 886px;
    height: auto;
    opacity: 100%;
}

.youtube {
    position: absolute;
    top: 30%;
    left: -8%;
    width: 468px;
    height: 350px;
    opacity: 100%;
    z-index: 1;
}

.home {
    position: absolute;
    margin-top: -50px;
    margin-left: 35px;
    width: 105px;
    height: auto;
}

a:hover {
    opacity: 75%;
    cursor: w-resize;
}

a:active {
    opacity: 65%;
}